@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

header{
	font-variant: small-caps;
	margin: 1em 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

q{
	font-style: italic;
}

/* letters */
[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header{
	margin-bottom: 1em;
	text-align: initial;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* end of verse */

/* bespoke styling */
#preface footer p + p,
#preface hr + p{
	font-style: italic;
}

#chapter-3 blockquote,
#chapter-7 blockquote{
	margin: 1em 0;
}

#chapter-4 header > p:first-of-type{
	text-align: center;
}

#chapter-6 ol{
	list-style-type: upper-alpha;
}

#chapter-6 p:nth-of-type(64){
	margin: 1em 0;
}

#chapter-10 blockquote p,
#chapter-12 blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#chapter-10 blockquote b,
#chapter-12 blockquote b{
	font-size: 1.25em;
}

#chapter-10 blockquote p + p:before,
#chapter-12 blockquote p + p:before{
	border-top: 1px solid;
	content: "";
	display: block;
	margin: 1em auto;
	width: 10%;
}

#chapter-12 blockquote p:last-of-type{
	font-size: .75em;
}

#dedication{
	margin-top: 20vh;
}
/* end bespoke styling */
